*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
.ma-g{
  margin:95px 100px;
}

.list{
  display:none;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:white;
    border-bottom:1px solid rgba(0, 0, 0, 0.568);
    position:fixed;
    top: 0;
    right:0;
    width:100%;
    height:60px;
    padding:10px 25px;  
    z-index:100;
}
.header span{
  font-size:30px;
  font-weight:bold;
  color:rgba(135, 207, 235, 0.479);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
}
.header .xim{
  color:rgb(135, 207, 235);
   font-size:30px;
   text-decoration:none;
   font-weight:bold;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
.header ul{
  display:flex;
  justify-content:center;
  align-items:center;
}
.header ul li a{
    text-decoration:none;
    font-size:18px;
    color:rgba(135, 207, 235, 0.479);
    margin:12px;
    font-weight:bold;
}
.header ul li{
    list-style-type:none;
}
/*Home*/
.vice{
  display:flex;
  justify-content:center;
  align-items:center;
}
.vice .spice{
  width:450px;
  max-height:500px;
  border-radius:20px;
}
.spice img{
  width:100%;
  object-fit:cover;
  border-radius:20px;
  border-radius:10px;

}
.vice .vix{
  margin:25px;
  line-height:30px;
}
.vice h4{
  color:rgba(135, 207, 235, 0.479);
  font-size:17px;
}
.vice h2{
 font-family:script;
 font-size:30px; 
 color:rgba(0, 0, 0, 0.568);
}
.vice h3{
  color:rgba(128, 128, 128, 0.685);
  font-size:22px;
}
.vice p{
  color:rgba(0, 0, 0, 0.568);
  font-size:16px;
}
/*About*/
.about{
line-height:30px;
}
.about h2{
  font-size:30px;
  color:rgb(135, 207, 235);
  width:90px;
}
.about h3{
  color:rgba(0, 0, 0, 0.568);
  font-size:22px;
  margin-top:10px;
}
.about span{
  color:rgba(128, 128, 128, 0.685);
}
.about p{
  color:rgba(0, 0, 0, 0.568);
  margin:15px 0;
  font-size:16px;
}
/*Skill*/
.skill h2{
  width:77px;
}
.skill p{
  margin:10px 0;
}
.vic img{
  width:100%;
  object-fit:cover;
}

.vic{
  width:60px;
  height:110px;
  text-align:center;
  margin:5px;
}
.vic h4{
  color:rgba(0, 0, 0, 0.568);
  font-weight:lighter;
  font-size:16px;
}
.vic .git{
  background-color:rgba(0, 0, 0, 0.822);
  border-radius:50px;
}
.gim{
  height:200px;
  width:250px;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:center
}
/*Project*/
.sky h2{
    width:115px;
}
.sky p{
  margin:10px 0;
}
.gux{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-wrap:wrap;
}
.hox{
  width:300px;
  height:300px;
  margin:10px;
  box-shadow:1px 3px 4px rgba(128, 128, 128, 0.39);
  border-radius:15px;
}
.hox .velle{
  line-height:22px;
  padding-left:20px;
}
.flex{
  width:300px;
  height:245px;
}
.hox:hover{
  box-shadow:1px 3px 4px rgba(128, 128, 128, 0.39);
  border-radius:15px;
  transition:0.5s ease-in-out;
}
.hox h3{
  font-size:17px;
}
.hox a{
  text-decoration:none;
  color:rgb(135, 207, 235);
  font-size:16px;
}
.hox img{
  width:100%;
  object-fit:cover;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}
.fox img{
  width:100%;
  object-fit:cover;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}
/*Contact*/
.logo .ink{
  background-color:rgb(135, 207, 235);
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:21px;
  margin:2px;
  height:42px;
  width:42px;
}
.logo svg{
  display:flex;
  justify-content:center;
  align-items:center; 
}
.fin .logo{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
}
.fin .logo a{
 color:white;
}
.fin button{
  border:none;
  margin:15px 0;
  padding:10px 20px;
  cursor:pointer;
  font-size:17px;
  color:white;
  border-radius:8px;
  font-weight:bold;
  background-color:rgb(135, 207, 235);
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.fin button:hover{
  background-color:rgba(135, 207, 235, 0.479);
  transition:0.5s ease;
}
/*Footer*/
.copy{
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  color:rgba(0, 0, 0, 0.568);
  line-height:30px;
  margin:0 100px;
}
.copy p{
  font-size:16px;
}
.copy .vincet{
  display:flex;
  justify-content:center;
  align-items:center;
}


@media(min-width:769px) and (max-width:1024px){

  .header ul{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:350px;
    background-color:white;
    line-height:50px;
    position:absolute;
    overflow:hidden;
    transition:0.5s ease;
    padding:20px 10px;
    right:0;
    top:100%;
  }
  .header ul li a{
    color:rgba(0, 0, 0, 0.568);
}
  .header .nav{
    height:0;
    overflow:hidden;
    transition:0.5s ease;
    padding:0;
  }
  .list{
    color:rgb(135, 207, 235);
    display:flex;
  }
  .header span{
    font-size:30px;
  }
  .header .xim{
     font-size:30px;
  }
  /*Home*/
.vice{
  display:flex;
}
.vice .spice{
  width:650px;
  height:200px;
}
.vice .vix{
  margin:50px;
  line-height:30px;
}
 }

 @media(min-width:820px) and (max-width:912px){
  .vice .spice{
    width:850px;
  }
 }



/*Mobile Phone*/
@media(min-width:320px) and (max-width:768px){
  .header ul{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:350px;
    background-color:white;
    line-height:50px;
    position:absolute;
    overflow:hidden;
    transition:0.5s ease;
    padding:20px 10px;
    right:0;
    top:100%;
  }
  .header ul li a{
    color:rgba(0, 0, 0, 0.568);
}
  .header .nav{
    height:0;
    overflow:hidden;
    transition:0.5s ease;
    padding:0;
  }
  .list{
    color:rgb(135, 207, 235);
    display:flex;
  }
  .header span{
    font-size:28px;
  }
  .header .xim{
     font-size:28px;
  }
  /*Home*/
.vice{
  display:flex;
}
.vice .spice{
  width:2000px;
}
/*Porject*/
.hox{
  margin:15px;
}
 }
 @media(max-width:540px){
  .header{
    height:55px;
  }
  .ma-g{
    margin:125px 48px;
  }
      /*Home*/
.vice{
  display:flex;
  flex-direction:column;
}
  .vice .spice{
    width:350px;
  }
  /*Footer*/
.copy{
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-direction:column;
  margin:20px 48px;
}
/*project*/ 
.hox{
  margin:75px;
}

 }
 @media(max-width:430px){
  .ma-g{
    margin:125px 30px;
  }
  /*Home*/
  .vice .spice{
    width:320px;
  }
    /*About*/
.about{
  margin:100px 55px;
  }
  .copy{
    margin:20px 50px;
  }
  /*project*/ 
.hox{
  margin:16px;
}
   }
   @media(max-width:414px){
      /*project*/ 
.hox{
  margin:10px;
}

   }
 @media(max-width:390px){
  .ma-g{
    margin:125px 20px;
  }
   /*Home*/
   .vice .spice{
    width:300px;
  }
    /*About*/
.about{
  margin:100px 38px;
  }
  .copy{
    margin:20px 38px;
  }
    /*project*/ 
.hox{
  margin:10px;
}
   }
 @media(min-width:344px) and (max-width:360px){
  .ma-g{
    margin:125px 10px;
  }
   /*Home*/
   .vice .spice{
    width:280px;
  }
  /*About*/
.about{
  margin:100px 30px;
  }
 }
